{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar }}" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__info-list">
      {% if site.description %}
        <li class="author__info-item">{{ site.description }}</li>
      {% endif %}
      {% if author.location %}
        <li class="author__info-item">{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__info-item">{{ author.employer }}</li>
      {% endif %}
      {% if author.email %}
        <li class="author__info-item"><a href="mailto:{{ author.email }}">Email</a></li>
      {% endif %}
      {% if author.twitter %}
        <li class="author__info-item"><a href="https://twitter.com/{{ author.twitter }}">Twitter</a></li>
      {% endif %}
      {% if author.github %}
        <li class="author__info-item"><a href="https://github.com/{{ author.github }}">GitHub</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li class="author__info-item"><a href="{{ author.googlescholar }}">Google Scholar</a></li>
      {% endif %}
    </ul>
  </div>
</div>
