{% assign pubs = site.data.publications %}
<ul class="publication-list">
{% for pub in pubs %}
  <li class="publication-item">
    <p class="publication-title">
      {% assign pub_link = pub.link | default: pub.arxiv | default: pub.project | default: '#' %}
      <a href="{{ pub_link }}">{{ pub.title }}</a>
    </p>
    <p class="publication-authors">{{ pub.authors }}</p>
    <p class="publication-meta">
      {{ pub.venue }}
      {% if pub.year %}&nbsp;•&nbsp;{{ pub.year }}{% endif %}
      {% if pub.citations %}&nbsp;•&nbsp;{{ pub.citations }} citations{% endif %}
      {% if pub.code %}&nbsp;·&nbsp;<a href="{{ pub.code }}">code</a>{% endif %}
      {% if pub.project %}&nbsp;·&nbsp;<a href="{{ pub.project }}">project</a>{% endif %}
    </p>
  </li>
{% endfor %}
</ul>
