{% assign pubs = site.data.publications | sort: 'year' | reverse %}
{% for pub in pubs %}
  <dl style="overflow:hidden;margin-bottom:1.2rem;">
    {% if pub.image %}
      <dt style="float:left;margin-right:12px;">
        <img src="{{ pub.image | relative_url }}" alt="{{ pub.title }}" width="320">
      </dt>
    {% endif %}
    <dd>
      <span class="publication-title"><a href="{{ pub.arxiv | default:'#' }}">{{ pub.title }}</a></span>
    </dd>
    <dd>{{ pub.authors }}</dd>
    <dd>{{ pub.venue }}</dd>
    <dd>
      {% if pub.arxiv %}<a href="{{ pub.arxiv }}">[arXiv]</a>{% endif %}
      {% if pub.code %}&nbsp;<a href="{{ pub.code }}">[code]</a>{% endif %}
      {% if pub.project %}&nbsp;<a href="{{ pub.project }}">[project]</a>{% endif %}
    </dd>
  </dl>
{% endfor %}
